/*******************/
/* BELOW 1200px (landscape tablets) */
/*******************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px = 56% */
    font-size: 56.25%;
  }

  .low-con {
    margin: 0 8.5rem;
  }
}

/*******************/
/* BELOW 1050px */
/*******************/
@media (max-width: 65.625em) {
  .top-right::after {
    content: none;
  }

  .top-container {
    margin-right: 0;
    margin-bottom: 2.5rem;
  }

  .top-right {
    width: 55rem;
    height: 48rem;
    background-image: url(/starter-code/assets/desktop/image-keyboard.jpg);
    background-size: cover;
    border-radius: 0.8rem;
    transform: translateX(40px);
  }

  .low-con::before {
    /* display: none; */
    content: none;
  }

  .low-con {
    /* max-width: 75rem; */
    display: block;
  }

  .intro-images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7.2rem;
  }

  .low-con-text-box {
    margin-left: 0;
  }

  .features-box {
    margin: 10rem 8rem;
  }
}

/*******************/
/* BELOW 944px (Tablets) */
/*******************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .header {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .top-container {
    margin-right: 0;
    margin-left: 8rem;
    margin-bottom: 2.5rem;
  }

  .top-right {
    width: 54rem;
    height: 48rem;
    background-image: url(/starter-code/assets/tablet/image-keyboard.jpg);
    position: relative;
    background-size: cover;
    border-radius: 0.8rem;
  }

  .intro-image-left {
    width: 25.5rem;
    height: 48rem;
    border-radius: 0.8rem;
    margin-right: 3rem;
    background-image: url(/starter-code/assets/tablet/image-phone-and-keyboard.jpg);
    background-color: var(--color-orange-dark);
    background-repeat: no-repeat;

    background-blend-mode: multiply;
    background-size: cover;
  }

  .intro-image-right {
    background-image: url(/starter-code/assets/tablet/image-glass-and-keyboard.jpg);
    width: 44.5rem;
    height: 48rem;
    background-size: cover;
    border-radius: 0.8rem;
  }

  .features-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8rem;
  }
}

/*******************/
/* BELOW 768px (Tablets) */
/*******************/
@media (max-width: 48rem) {
  /* .features-box,
  .low-con,
  .low-con-text-box {
    margin-left: 3rem;
  } */

  .wrapper {
    margin-left: 3.9rem;
  }

  .intro-images {
    display: flex;
  }

  .intro-image-left {
    width: 21.4rem;
    height: 32rem;
  }

  .intro-image-right {
    width: 44.5rem;
    height: 32rem;
  }

  .low-con-text-box {
    display: flex;
    align-items: flex-start;
  }

  .low-con-header {
    margin-right: 5rem;
  }
}
/*******************/ /* BELOW 600px (tablets) */ /*******************/
@media (max-width: 37.5rem) {
  .wrapper {
    margin-left: 2.4rem;
  }

  .header {
    margin-right: 2.4rem;
  }

  .top-container {
    display: flex;
    flex-direction: column;
  }

  .intro-images {
    position: relative;
  }

  .top-left {
    margin-bottom: 6.4rem;
  }

  .intro-image-left {
    width: 12.9rem;
    height: 19.3rem;
    position: absolute;
    left: -13rem;
  }

  .intro-image-right {
    width: 30rem;
    height: 19.3rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }

  .low-con-text-box {
    display: flex;
  }
}
